/* ================= ADMIN DASHBOARD ================= */
body,html{
  width: 100%;
  overflow: none;
}
*{
  overflow: none;
}
.navbar{
  width: 100%;
  height: 90px;
}

.dashboard {
  background: var(--card);
  margin: 24px;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.04);
  border: 2px solid var(--border);
  border-bottom: 5px solid var(--border);
  border-left:none;
  width: 95%;
  display: flex;
}


.tt{
  overflow: auto;
}

table th{
  background-color: #1f3c88;
  color: white;
}


.dashboard table td,th{
  border: 2px solid var(--border);
  border-collapse: collapse;
}

.admin-tabs {
  display: flex;
  gap: 14px;
  padding: 20px 24px 0 24px;
}

.admin-tabs button {
  background: var(--primary);
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
}

.admin-tabs button:hover {
  background: white;
  color: var(--primary);
  border:1px solid var(--primary);
}

.top-section,
.filters {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 22px;
}

.top-section button{
  background-color: #1f4fd8;
  color: white;
}

.top-section button:hover{
  color: #1f3c88;
  background-color: white;
  border: 1px solid #1f3c88;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 500;
  gap: 6px;
}

.dashboard #btn{
  background-color: #1f4fd8;
  color: white;
}

.dashboard #btn:hover{
  background-color: white;
  color: #1f3c88;
  border: 1px solid #1f3c88;
}

select,
input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 13px;
}

/* Action Buttons */

table #app-btn {
  background: white;
  color: #1f4fd8;
  border: 1px solid #1f3c88;
}

table #app-btn:hover{
  background: #1f4fd8;
  color: white;
  border: 1px solid var(--primary);
}

table #rej-btn{
  background-color: white;
  color: red;
  border: 1px solid red;
}
table #rej-btn:hover{
  color: white;
  background-color: red;
}

.admin-action-btn {
  padding: 6px 12px;
  border-radius: 8px;
}