@media (max-width: 1024px) {
  .navbar h2 {
    font-size: 16px;
  }

  table {
    font-size: 13px;
  }
}

/* Mobile */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

  .admin-tabs {
    flex-direction: column;
  }

  .login-card {
    padding: 20px;
  }

  table {
    min-width: 600px;
  }
  .reject-btn{
    margin-top: 2vmax;
  }

  .admin-tabs{
    display: flex;
    flex-direction: row;
  }
  .admin-tabs button{
    width: 30%;    
  }
  .top-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .top-section button{
    margin: top 1.5vmax;;
  }
  .navbar .notification-wrapper{
    height: 2vmax;
  }
}

 /* Small Mobile  */
@media (max-width: 480px) {

  .navbar h2 {
    font-size: 15px;
  }

  .navbar button {
    width: 100%;
  }

  .login-card {
    padding: 16px;
  }

  .login-card input {
    font-size: 13px;
  }
  .navbar .notification-wrapper{
    font-size: large;
  }
}
