/* user.css */


.dashboard {
  padding: 16px;
  border: 2px solid var(--border);
  border-radius: 10px;
  margin: 10px;
}

.top-section {
  background: white;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  border-radius: 6px;
}

button{
  background-color: var(--primary);
  color: white;
}
button:hover{
  color: var(--primary);
  background-color: white;
  border: 1px solid var(--primary);
}

.total-box {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

#addEntryBox {
  padding: 5px 0;
}

#addEntryBox button{
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
}

#addEntryBox button:hover{
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* TABLE WRAPPER FOR MOBILE */


table {
  width: 100%;
  min-width: 700px;
}

th, td     {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

th {
  background: #1e3a8a;
  color: white;
}

.monthly-summary {
  margin-top: 12px;
  background: white;
  padding: 10px;
  border-radius: 6px;
  text-align: right;
}

td textarea {
  display: block;
}

td .uri-wrapper {
  overflow: visible;
}
.uri-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.uri-wrapper input {
  width: 100%;
  min-height: 3vmin;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}
.uri-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;              
  background: #fff;
  border: 1px solid #ccc;
  z-index: 20;
}
.uri-dropdown div {
  padding: 2px 1px;
  cursor: pointer;
  user-select: none;
}
.uri-dropdown div:hover {
  background-color: #f0f0f0;
}
.uri-arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
  font-size: 12px;
  cursor: pointer;
  pointer-events: auto;
}
/* Description column textarea */
.desc-input {
  width: 100%;
  min-height: 0vmin;
  resize: none;                 
  box-sizing: border-box;       
  padding: 1px 1px;
  font-family: inherit;
  font-size: 14px;
}

.submit-day-btn{
  background-color: var(--primary);
  color: #fff;
  padding: 10px 6px;
  border-radius: 10px;
}

.submit-day-btn:hover{
  background-color: #fff;
  color: rgb(8, 165, 8);
  border: 1px solid rgb(8, 165, 8);
}